<h2>Welcome</h2>
<div class="row">
  <div class="col-md-3">
    <form ng-submit="addWeightEntry()">
      <h3>Add a weight entry:</h3>
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" max-date="maxDate" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Weight" ng-model="weightEntry">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{weightType}} <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href=""ng-click="setUnitType(item.type)" ng-repeat="item in weightUnitTypes">{{item.label}}</a></li>
          </ul>
        </div>
      </div>
      <button class="btn btn-primary pull-right" type="submit">Submit</button>
    </form>
  </div>
</div>
